*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/U2/A1/U2A1/build/
/U2/A1/U2A1/nbproject/private/
/U2/A1/U2A1/dist/
/U2/A1/WayneGretzky/nbproject/private/
/U2/A1/AreaOfRectangle/nbproject/private/
/U2/A1/AwooUtils/nbproject/private/
/U2/A1/Carpet/nbproject/private/
/U2/A1/BillOfSale/nbproject/private/
/U2/A1/AreaOfRectangle/build/
/U2/A1/BillOfSale/build/
/U2/A1/Carpet/build/
/U2/A1/WayneGretzky/build/
/U2/A1/IdealWeight/nbproject/private/
/U2/A7/IdealWeight/build/
/U2/A2/Birthday/nbproject/private/
/U2/A2/Birthday/build/
/U2/A2/Birthday/dist/
/U2/A3/Bill/nbproject/private/
/U2/A3/Bill/build/
/U2/A3/Bill/dist/
/U2/A4/Pizza/nbproject/private/
/U2/A4/Pizza/build/
/U2/A4/FastFood/nbproject/private/
/U2/A4/FastFood/build/
/U2/A4/U2A4_FastFood_DarianSmith_82/nbproject/private/
/U2/A4/U2A4_FastFood_DarianSmith_82/build/
/U2/A4/U2A4_RandomNumber_DairanSmith_82/nbproject/private/
/U2/A4/U2A4_RandomNumber_DairanSmith_82/build/
/U2/A4/U2A4_RandomNumber_DarianSmith_82/nbproject/private/
/U2/A4/U2A4_RandomNumber_DarianSmith_82/build/
/U2/A4/U2A4_RandomNumber_DarianSmith_82/dist/
/U2/A4/U2A4_Pizza_DarianSmith_82/nbproject/private/
/U2/A5/U2A5_Sale_DarianSmith_82/nbproject/private/
/U2/A5/U2A5_Sale_DarianSmith_82/build/
/U2/A5/U2A5_Hurricane_DarianSmith_82/nbproject/private/
/U2/A5/U2A5_Hurricane_DarianSmith_82/build/
/U2/A5/U2A5_GuessingGame_Darian_Smith_82/nbproject/private/
/U2/A5/U2A5_GuessingGame_Darian_Smith_82/build/
/U2/A6/U2A6_FunWithLoops_DarianSmith_82/nbproject/private/
/U2/A6/U2A6_FunWithLoops_DarianSmith_82/build/
/U2/A6/U2A6_CDCalculator_DarianSmith_82/nbproject/private/
/U2/A6/U2A6_CDCalculator_DarianSmith_82/build/
/U2/A7/U2A7_IdealWeight_DarianSmith_82/nbproject/private/
/U2/A7/U2A7_IdealWeight_DarianSmith_82/build/
/U3/A2/U3A2_Monogram_DarianSmith_82/nbproject/private/
/U3/A2/U3A2_Monogram_DarianSmith_82/build/
/U3/A2/U3A2_Password_DarianSmith_82/nbproject/private/
/U3/A2/U3A2_Password_DarianSmith_82/build/
/U3/A3/U3A3_Converter_DarianSmith_82/nbproject/private/
/U3/A3/U3A3_Converter_DarianSmith_82/build/
/U3/A4/U3A4_Squares_DarianSmith_82/nbproject/private/
/U3/A4/U3A4_Squares_DarianSmith_82/build/
/U3/A4/U3A4_CDCollection_DarianSmith_82/nbproject/private/
/U3/A4/U3A4_CDCollection_DarianSmith_82/build/
/U3/A5/U3A5_GradeConverter8_DarianSmith_82/nbproject/private/
/U3/A5/U3A5_GradeConverter8_DarianSmith_82/build/
/U3/A6/U3A6_Marks_DarianSmith_82/build/
/U3/A3/U3A3_Converter_DarianSmith_82/dist/
/U4/A3/U4A3_Astronomap_DarianSmith_82/nbproject/private/
/U4/A3/U4A3_Astronomap_DarianSmith_82/build/